html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  overflow-x: hidden;
  z-index: 900;
}

#navbar-content ul {
  text-transform: capitalize
}

header {
  width: 100%;
  background-color: rgba(60, 60, 60, 10%);
}

#header {
  height: 100vh;
  position: relative;
  padding-top: 5rem;
  background: url("./res/img/exterior.jpg");
  background-size: cover;
  background-position: 25%;
}

#header-block {
  height: 80vw;
  max-height: 50vh;
  max-width: 80vw;
  position: relative;
  background-color: rgba(255, 255, 255, 85%)
}

#header-bg {
  color: hsl(30, 70%, 75%);
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  font-size: 20em;
  z-index: 10;
}

#header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

#header-text .title {
  font-family: Catamaran, sans-serif;
  color: hsl(40, 80%, 70%);
  text-shadow: 5px 5px 10px #666, 
               1px 1px 0 #333, 
               -1px 1px 0 #333, 
               1px -1px 0 #333, 
               -1px -1px 0 #333;
  font-weight: bold;
  font-size: 6rem;
  line-height: .9em;
}

#header-text .subtitle {
  color: #333;
  font-size: 2rem;
}

#content {
  padding-bottom: 7rem;
}

section {
  clear: both;
}

h2 {
  font-size: 2.3rem;
}

.tab-pane .thumbnail {
  max-height: 5rem;
  max-width: 7rem;
  height: auto;
  width: auto;
  margin: 1rem;
  border-radius: 5px;
}

.card-img {
  width: 80%;
  height: auto;
}

footer {
  position: fixed;
  bottom: 0;
  font-size: .9rem;
  width: 100vw;
  overflow-x: hidden;
  margin-bottom: -.9rem;
  font-size: .9em;
}

#phone {
  font-size: 1.1em;
  font-weight: bold;
}

@media (min-width: 1200px) {
  .tab-pane .thumbnail {
    max-height: 10rem;
    max-width: 12rem;
    height: auto;
    width: auto;
  }
}

@media (min-width: 992px) {
  #header-bg {
    top: 30%;
    left: 25%;
    transform: translate(-25%, -30%);
    font-size: 15rem;
  }

  #header-text .title {
    font-size: 7rem;
  }
  
  #header-text .subtitle {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  #header-bg {
    font-size: 14rem;
  }

  #header-text .title {
    font-size: 5rem;
  }
  
  #header-text .subtitle {
    font-size: 1.5rem;
  }

  #phone {
    font-size: 1.4em;
  }
}

@media (max-width: 350px) {
  #header-bg {
    font-size: 10rem;
  }

  #header-text .title {
    font-size: 4rem;
  }
  
  #header-text .subtitle {
    font-size: 1.2rem;
  }
}